$maincolor: #4e4737;
$bordercolor:  #655e54;
body{

 font-family: 'Press Start 2P', sans-serif;
 color: $maincolor;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#overlayH1{
  margin-top:3%;
  color:#d1ad4b;
}
.main{
  margin:0 auto;
  background:#999383;
  width:600px;
  height:580px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  position: relative;
}
.images{

}

.RowEnemy{
  display:flex;
  flex-direction:row;
  height:30%;
}
.enemyClaster{
  display:flex;
  flex-direction:column;
  width:50%;
  
}
.nameEnemy{
  margin-left:50px;
}
.barEnemy{
  margin-left:50px;
  border-left:5px solid $bordercolor;
  border-bottom:5px solid $bordercolor;
  border-radius:5px;
  height:50px; 
}
.barEnemy>p{
  margin-left:3px;
}
.barProgresEnemy{
  
  height:10px;
  border:2px solid #565550;
  border-radius:10px;
  margin-top:-33px;
  margin-left:45px;
}
.barProgresEnemyInner{
  width:100%;
  height:100%;
  background:#6d6b6e;
}
.imageEnemy{
  margin:5px 0 0px 50px;
  height:180px!important;
}
.imageEnemy::after{
  content:"";
  display: block;
  position:static;
  width: 200px;
  height: 50px;
  margin-top:-20px;
  border-radius: 100px / 30px;
  background: white;
  z-index:-5px;
}
.imageEnemy>img{
    width:170px;
    max-height:200px;
    margin-left:10px;
}



.RowPlayer{
  display:flex;
  flex-direction:row;
  height:30%;
  position:relative;
}
.playerPic{
 margin:0 0 5px 50px;
}
.playerPic>img{
    width:170px;
    height:auto;
}
.playerClaster{
  display:flex;
  flex-direction:column;
  justify-content: center;
  width:40%;
  position:absolute;
  top:100px; 
  left:50%
}
.playerName{
  float:right;
}
.barPlayer{
  border-left:5px solid $bordercolor;
  border-bottom:5px solid $bordercolor;
  margin-top:0px;
  border-radius:5px;
  height:50px;
}
.barPlayer>p{
  margin-left:3px;
}
.barProgresPlayer{
  width:80%;
  height:10px;
  border:2px solid #565550;
  border-radius:10px;
  margin-top:-33px;
  margin-left:45px;
}
.barProgresPlayerInner{
  width:100%;
  height:100%;
  background:#6d6b6e;
}
.dialogBox{
  border:2px solid #4e473f;
  width:98%;
  height:25%;
  border-radius:10px;
  background:#827c6c;
  margin-bottom:5px;
  margin-left:5px;
}
.dialogBox>p{
  font-family: 'Press Start 2P';
  margin:20px 20px 20px 20px;
}
.dialogBox>button{
  font-family: 'Press Start 2P';
  margin:20px 20px 20px 20px;
  background:none;
  border:none;
  cursor:pointer;
  font-weight:700;
  color:#4e4737;
  postion:relative;
}

.pointerArr::before {
  postion: absolute;
  margin-right:5px; 
  margin-bottom:2px;
  content:" ";
  border: solid #4e4737;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}